<header class="header">
  <!-- Video de fondo -->
  <video autoplay loop muted class="background-video">
    <source src="assets/video_header.mp4" type="video/mp4">
    Tu navegador no soporta videos.
  </video>

  <!-- Contenedor del logo -->
  <div class="header-content">
    <img src="assets/img/logo_d.png" alt="Logo" class="header-logo">
    <div class="buttons">
      <a href="#jugadores" class="btn coach">Soy Entrenador</a> <!-- Aquí tendremos que cambiar el href más adelante-->
      <a href="#jugadores" class="btn player">Soy Jugador</a> <!-- Aquí tendremos que cambiar el href más adelante-->
    </div>
  </div>

</header>
