/* Estilos generales */
.container {
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Header con video de fondo */
.header {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-content {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-logo {
  width: 600px;
  max-width: 80%;
}

/* Estilos de los botones */
.buttons {
  display: flex;
  gap: 90px;
}

.btn {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #4A148C;
}
