<div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mejores momentos</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <video #videoPlayer width="100%" controls>
          <source [src]="videoSrc" type="video/mp4">
          Tu navegador no soporta la reproducción de videos.
        </video>
      </div>
    </div>
  </div>
</div>
