
/* Centrar los jugadores en cualquier cantidad */
.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

/* Si hay solo un jugador, que se quede centrado */
.players-grid>*:only-child {
  margin: 0 auto;
}

app-search {
  display: block;
  width: 100%;
}


.btn-success.custom-add {
  background-color: #198754;
  /* color original success */
  border-color: #198754;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-success.custom-add:hover {
  background-color: var(--secondary-color);
  /* tu naranja */
  border-color: var(--secondary-color);
  transform: scale(1.5);
}