
.container {
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Grid de jugadores */
.players-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}


.btn-primary {
  background-color: #FF9800;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #E68900;
}

