<div class="modal-overlay">
    <div class="modal-content">
        <h3>Editar Jugador</h3>

        <form (ngSubmit)="actualizarJugador()" enctype="multipart/form-data">
            <div class="mb-2">
                <label for="name">Nombre</label>
                <input id="name" type="text" [(ngModel)]="player.name" name="name" required />
            </div>

            <div class="mb-2">
                <label for="position">Posición</label>
                <input id="position" type="text" [(ngModel)]="player.position" name="position" required />
            </div>

            <div class="mb-2">
                <label for="number">Número</label>
                <input id="number" type="number" [(ngModel)]="player.number" name="number" />
            </div>

            <div class="mb-2">
                <label for="height">Altura</label>
                <input id="height" type="text" [(ngModel)]="player.height" name="height" />
            </div>

            <div class="mb-2">
                <label for="weight">Peso</label>
                <input id="weight" type="text" [(ngModel)]="player.weight" name="weight" />
            </div>

            <div class="mb-2">
                <label for="age">Edad</label>
                <input id="age" type="number" [(ngModel)]="player.age" name="age" />
            </div>

            <div class="mb-2">
                <label for="ppg">PPG</label>
                <input id="ppg" type="number" [(ngModel)]="player.ppg" name="ppg" />
            </div>

            <div class="mb-2">
                <label for="rpg">RPG</label>
                <input id="rpg" type="number" [(ngModel)]="player.rpg" name="rpg" />
            </div>

            <div class="mb-2">
                <label for="apg">APG</label>
                <input id="apg" type="number" [(ngModel)]="player.apg" name="apg" />
            </div>

            <!-- Imagen -->
            <div class="mb-2">
                <label for="imageSelect">Imagen</label>
                <select id="imageSelect" [(ngModel)]="selectedImageName" name="imageSelect">
                    <option *ngFor="let img of availableImages" [value]="img">{{ img }}</option>
                </select>
            </div>

            <!-- Video -->
            <div class="mb-3">
                <label for="videoSelect">Vídeo</label>
                <select id="videoSelect" [(ngModel)]="selectedVideoName" name="videoSelect">
                    <option *ngFor="let vid of availableVideos" [value]="vid">{{ vid }}</option>
                </select>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-secondary me-2" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>

            <button class="close-btn" type="button" (click)="cancelar()">✖</button>
        </form>
    </div>
</div>