.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 300px;
  width: 100%;
}

.input-group-text {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px 0 0 8px;
}

input.form-control {
  border-radius: 0 8px 8px 0;
}

.filter-btn {
  background: var(--primary-color);
  color: white;
  height: 38px;
  padding: 6px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  border-radius: 8px;
  font-weight: 500;
}

.filter-btn:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

.search-wrapper {
  max-width: 900px;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}