<footer class="footer-custom text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <!-- Sección izquierda -->
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        FP067 - Front-end con frameworks en entornos móviles<br>
        ©Grupo 3 · WeScript
      </div>

      <!-- Sección derecha -->
      <div class="col-md-6 text-center text-md-end">
        <span class="text-light small">
          Candela Puig · Argos Anton · Daniel Martínez · Víctor Martín
        </span>
      </div>
    </div>
  </div>
</footer>
