.footer-custom {
  background-color: var(--secondary-color);
  color: white;
  font-size: 14px;
  font-weight: normal;
  /* <-- Esto quita la negrita */
  border-top: 3px solid var(--secondary-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}